
	
<div class="section-padded">
    <div class="row">
       <div class="col-lg-12">
            <h1 class="page-header">About Us
                <small> - It is Nice to Meet You!</small>
            </h1>         
        </div>     

    </div></div>
	
	<div class="container">

    <div class="row">
	<h2>Welcome to Electric Green Spark</h2>
			
			<p>Established in 1979 we are small, well established, family run company. With new family members joining the firm and involved in the management and running of the company, we are always pioneering the latest in lighting technology and environmentally friendly design.</p>
			
			<p>A key focus of this is energy saving lighting systems and electrical installations and we move with the times to stay up to date with new products. We are always abreast of and working in line with current electrical regulations and all work is fully certified and guaranteed.</p>
			
			<div class="row">
			
			<div class="col-sm-3">
            <img class="img-responsive" src="images/nicdi.png" style="width:220px;height:130px;">
			</div>
			<div class="col-sm-3">
            <img class="img-responsive" src="images/mobotix.jpg" style="width:220px;height:130px;">
			</div>
			<div class="col-sm-3">
            <img class="img-responsive" src="images/nicac.png" style="width:220px;height:130px;">
			</div>			
			<div class="col-sm-3">
            <img class="img-responsive" src="images/knx.png" style="width:220px;height:130px;">
			</div>
			
			</div>
			
			</br>
			<p>We work hard to always maintain the high standards which have earned us our reputation for excellence and as well as being energy efficient and practical we are also incredibly design focused and believe that lighting can be used to transform a space, as shown in our online gallery.</p>
			
			<p>We started out as a local company, providing a service to many private homes and commercial properties in and around the West London Area. We now cover all of London and the surrounding areas, and over the years the business has grown, along with our reputation for providing a friendly reliable service. Our client list has increased and we now provide our services to several long standing key clients including the Priory Healthcare, Burberry Clothing and the Royal Aeronautical Society.</p>
	
        
    </div></div>

    <!-- Team Member Profiles -->
	<div class="section-padded">
    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Meet Our Team</h2>
        </div>

        <div class="col-sm-3">
            <img class="img-responsive" src="images/wayne.png" style="width:340px;height:200px;">
            <h3>Wayne 
                <small>Job Title?</small>
            </h3>
            <p>What does he do etc? Add facebook, linked in tags below?</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
            </ul>
        </div>

        <div class="col-sm-3">
            <img class="img-responsive" src="images/dean.jpg" style="width:340px;height:200px;">
            <h3>Dean 
                <small>Job Title?</small>
            </h3>
            <p>What does he do etc? Add facebook, linked in tags below?</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
            </ul>
        </div>

        <div class="col-sm-3">
            <img class="img-responsive" src="images/mike.jpg" style="width:340px;height:200px;">
            <h3>Mike 
                <small>Job Title?</small>
            </h3>
            <p>What does he do etc? Add facebook, linked in tags below?</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
            </ul>
        </div>

       <div class="col-sm-3">
            <img class="img-responsive" src="images/craig.jpg" style="width:340px;height:200px;">
            <h3>Craig 
                <small>Job Title?</small>
            </h3>
            <p>What does he do etc? Add facebook, linked in tags below?</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
            </ul>
        </div>

    </div>
</div>

    <!-- Our Customers -->
<div class="container">
    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Our Customers</h2>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="http://placehold.it/500x300">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="http://placehold.it/500x300">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="http://placehold.it/500x300">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="http://placehold.it/500x300">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="http://placehold.it/500x300">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="http://placehold.it/500x300">
        </div>

    </div>

</div>
<!-- /.container -->
