 <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

<!-- START CAROUSEL -->
<!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill"><img class="logo" src="images/logo.png"></div>      
            </div>
            <div class="item">
                <div class="fill"><img class="img-responsive" src="images/pan2.jpg"></div>         
            </div>
            <div class="item">
                <div class="fill"><img class="img-responsive" src="images/pan3.jpg"></div>            
            </div>
        </div>
    </header>
<!-- END CAROUSEL -->


 <div class="section-light">
  <div class="center">
<div class="row">   
<h2><I>Energy Saving Lighting & Electrical Installations – Est. 1979</I></h2><hr>	
</div>	
</div>
</div>

<div class="section-colored">
    <div class="container">
        <div class="row">			
            <div class="col-lg-4 col-md-4 col-sm-4">
                <img class="img-responsive" src="images/E1.jpg" style="width:350px;height:216px;">
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7">
                <h2><u>Irving Electrical Integration</u></h2>
				<p>Whether it’s domestic, commercial or industrial lighting, energy efficiency is always our key focus. We are established electrical contractors who specialise in low maintenance, energy saving electrical solutions. </p>
				
				<p>We are an NICEIC approved electrical contractor and NICEIC approved domestic electrical installer. Our clients include Priory Healthcare, Burberry Clothing and the Royal Aeronautical Society.</p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.section -->


    <div class="container">
	<center>
        <div class="col-lg-11 col-md-11 col-sm-11">
                <h2>Look around:</h2>
                <p>Please explore our site to find out more about us and our work, see examples of our fantastic lighting and installations and hear what our customers have to say about us. Our contact details are throughout the site so please do get in touch if you are interested in our services.</p>        
        </div>
		</center>
        <!-- /.row -->

    </div>
    <!-- /.container -->


<!-- /.section-colored -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 3000 //changes the speed
    })
    </script>