<!-- Page Content -->

<div class="section-padded">
    <div class="row">
       <div class="col-lg-12">
          <h1 class="page-header">Services
                <small> - Areas of electrical work covered</small>
            </h1>             
        </div>     

    </div></div>
</br>
<div class="container">


    <!-- Service Paragraphs -->

    <div class="row">
        <div class="col-md-12">
         
            <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats
                vitaes nemo minima rerums unsers sadips amets. Sed ut perspiciatis unde omnis iste natus error sit
                voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>
    </div>
    <!-- Service Images -->

    <div class="row">
        <div class="col-sm-4">
            <img class="img-responsive" src="images/DL.png" style="width:360px;height:216px;">

            <h3>Domestic Lighting</h3>
            <p>Creativity combined with efficiency is key when it comes to home and garden lighting and electrical technology. We have a huge portfolio of products and ideas to bring your home to life through lighting, whilst staying focused on cost effective solutions.</p>          
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="images/CL.png" style="width:360px;height:216px;">

            <h3>Commercial Lighting</h3>
            <p>We have experience working with commercial clients and understand the demands for low maintenance and hard wearing installations that are modern and stylish in design. We offer a flexible service and can work 'out of hours' so that minimal disruption is caused to your business.</p>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="images/IL.png" style="width:360px;height:216px;">

            <h3>Industrial Lighting</h3>
            <p>Focusing on hard wearing and practical electrical systems we will work with you to understand your requirements and provide the right solution for your business environment. Safety and adhering to current electrical regulations are always top of the agenda and we provide full certification of all work carried out.</p>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
