



    <div class="container">

        <div class="row">

                <center></br> </br> </br> 
				<h2>Thank You</h2></br>
                <p>Your message has been successfully send to us. <br> You will also receive a copy of your message to the email address which you have provided on the contact form.</p></br> 
				<p>We will try to respond to you as soon as possible </p></br> 
				
				<form action="http://localhost/electric/index.html?#/home" method="get">
				<input type="submit" class="btn btn-primary" value="Return to the home page"/>
				</form>
				</center>
            
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

