<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Testimonials
                <small> - What customers have said about us</small>
            </h1>          
        </div>

    </div>
	<div class="row">
	</br>
<figure class="snip1157">
  <blockquote>I just wanted say a HUGE thank you to and your son. you are both the same - decent, honest and lovely to have around as you both work so hard to make such a big difference to our home with the work that has been carried out. We are so lucky to have found your company.
    <div class="arrow"></div>
  </blockquote>
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample3.jpg" alt="sq-sample3" />
  <div class="author">
    <h5>Yuh-Wah & Westlee <span> Ealing</span></h5>
  </div>
</figure>

<figure class="snip1157">
  <blockquote>I have dealt with this well run family business for several years, and do not hesitate to recommend them to family and friends.
They have proved to be very reliable, professional and trustworthy, plus they are very clean and tidy onsite. Not only do they carry out the work you want them to do but also give good advice and suggested cost savings.
    <div class="arrow"></div>
  </blockquote>
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample27.jpg" alt="sq-sample27" />
  <div class="author">
    <h5>Raymond Elias <span> Chiswick</span></h5>
  </div>
</figure>

<figure class="snip1157">
  <blockquote>I have been using the services of W Irving for many years, they are always friendly to communicate with and able to solve problems.
I have several properties and whatever task is undertaken, they always give sound advice and achieve results. Clean and tidy operatives.
    <div class="arrow"></div>
  </blockquote>
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample17.jpg" alt="sq-sample17" />
  <div class="author">
    <h5>George M <span> Ealing </span></h5>
  </div>
</figure>

</div>

</div>
<!-- /.container -->
